body, html {
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:auto;
}

body{
  width: 90%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

nav {
  margin-top: 10px;
}

nav img, nav a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 100px;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  line-height: 85px;
  margin-bottom: 30px;
}

#portada {
  background-image:url("./sex-education-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  padding-top: 40px;
  margin-top: -40px;
  padding-bottom: 100px;
  margin-bottom: -100px;
  padding-left: 70px;
  margin-left: -70px;
}

#portada h2, #portada h1, #portada p {
  width: 500px;
}

#portada p {
  margin-top: 40px;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  border-radius: 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.App {
  width:80%;
}

.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 0px 0;
  padding-bottom: 10px;


}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}
.tile__img__poster {
  width: 250px;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 3;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
}

.tile__details:after, .tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -14px;
  text-align: center;
  z-index: 2;
}

.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  margin-bottom: 15px;
  padding: 10px;
}

.tile__genre {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row__inner:hover {
  -webkit-transform: translate3d(-30.5px, 0, 0);
  transform: translate3d(-30.5px, 0, 0);
}

.row__inner:hover .tile {
  opacity: 0.3;
}

.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

.tile:hover~.tile {
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
}

.footer {
  margin-top: 50px;
  font-size: 14px;
  color: #999;
}

.footerSocialMedia {
  width: 15vw;
}

.footerTable {
  width: 50vw;
}

table.footerTable tr td{
  height: 25px;
}

.btn-modal{
  text-decoration: none;
  padding: 10px;
  padding-left: 35px;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 25px;
  border: 2px solid #ff0000;
}

.btn-modal:hover{
  color: #ff0000;
  background-color: #ffffff;
}

.btn-hero{
  margin-right:25px;
  text-decoration: none;
  padding: 15px;
  padding-right: 35px;
  padding-left:35px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 25px;
  opacity: 0.6;
}

.btn-hero:hover{
  opacity: 1;
  color: #fff;
  background-color: #000;
}

.btn-upload{
  margin:auto;
  text-decoration: none;
  padding: 15px;
  padding-right: 35px;
  padding-left:35px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 25px;
  opacity: 0.6;
}

.btn-upload{
  opacity: 1;
  color: #fff;
  background-color: #000;
}
